# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
    tags: [ "v[0-9]+.[0-9]+.[0-9]+" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        
  

    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Build with gradle
      uses: gradle/gradle-build-action@v3.3.2
      with:
        arguments: dist jacocoTestReport --stacktrace --info --scan
    - name: Upload runnable JAR
      uses: actions/upload-artifact@v4.3.3
      with:
        name: desktop.jar
        path: desktop/build/libs/desktop.jar
    - name: upload gradle testing report
      uses: actions/upload-artifact@v4.3.3
      with:
        name: gradle-test-report
        path: tests/build/reports/tests/test
    - name: upload jacoco coverage report
      uses: actions/upload-artifact@v4.3.3
      with:
        name: jacoco-test-report
        path: tests/build/reports/jacoco/test/html

  release:
    runs-on: ubuntu-latest
    needs: ["build"] 
    if: startsWith(github.ref, 'refs/tags/')

    permissions:
      contents: write
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v4.1.7
        with: 
          name: desktop.jar
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: desktop.jar
